body{
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    margin-top: 0;
    text-align: center;
    background-color: #c6492e;
    border-bottom: #323232  solid 10px;
    color: white; 
}

header > h1 {
    margin-top: 0;
}


/* Button CSS */
.button-5 {
    align-items: center;
    background-clip: padding-box;
    background-color: #fa6400;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);    
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
    margin-left: 20px;
    border-radius: 20px;
  }
  
  .button-5:hover,
  .button-5:focus {
    background-color: #fb8332;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  }
  
  .button-5:hover {
    transform: translateY(-1px);
  }
  
  .button-5:active {
    background-color: #c85000;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
  }


button {
    position: absolute;
    right: 0;
    margin: 20px 20px 0 0 ;
}

#main_section {
    display: flex;
    flex-direction: row;    
}

#featured_image {
    margin-top: 60px;
    margin-left: 20px;
    width: 80%;
    max-width: 500px;
    height: 80%;
    border-radius: 20px;
}

aside {
    width: 100%;
    margin-right: 40px;
    float: left;  
    margin-top: 40px;
}


#featured > img {
    border-radius: 20px;
    margin-left: 20px;
}


 
#featured > h1 {
    text-align: center;
}
 
#article_image{
    margin: 20px 0 20px 10px;
    width: 100px;
    height: 100px;  
    border-radius: 20px;  
}   

#featured > ul {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
 
#featured > ul > li {
    display: flex;
    width: 100%;
    flex-direction: row;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
 
#featured > ul > li {
    padding-left: 10px;
}
 
#featuredSongs {
    padding-left: 5px;   
}  
 
#songDetails{
    margin-left: 20px
}


